<h1>Joguinho de PW</h1>
<section>
    <h2>Descrição:</h2>
    <img src="/imgs/tRex_game.png" alt="Imagem ilustrativa do jogo T-Rex" />
    <ul>
      <li><strong>Tema:</strong> O jogo apresenta um dinossauro (T-Rex) como personagem principal, que corre continuamente por um deserto pixelizado.</li>
      <li><strong>Gráficos:</strong> Estilo 2D, com gráficos pixelados simples e cores limitadas.</li>
      <li><strong>Objetivo:</strong> O objetivo do jogador é ajudar o T-Rex a percorrer a maior distância possível, evitando obstáculos e coletando pontos.</li>
      <li><strong>Controles:</strong> O jogo é controlado principalmente pela barra de espaço ou pela seta "para cima" no teclado. O T-Rex pula quando o jogador pressiona essas teclas.</li>
      <li><strong>Obstáculos:</strong> Durante a corrida, o T-Rex encontra diversos obstáculos, como cactos de diferentes tamanhos e pássaros voadores. À medida que o jogo avança, a velocidade aumenta, tornando os obstáculos mais difíceis de evitar.</li>
      <li><strong>Modo Noturno:</strong> Após atingir determinados pontos, o jogo entra no modo noturno, alterando a cor de fundo para preto e os obstáculos para tons de cinza e branco, o que adiciona um nível extra de dificuldade.</li>
      <li><strong>Pontuação:</strong> O jogador acumula pontos à medida que o T-Rex avança. A pontuação é exibida no canto superior direito da tela.</li>
    </ul>

    
</section>
